$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.error-block {
  .input-error {
    color: red;
    display: none;
  }
}

input.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-touched.ng-invalid-required + .error-block {
  .input-error.required {
    display: block;
  }
}


input.ng-touched.ng-invalid-pattern + .error-block {
  .input-error.pattern {

    display: block;
  }
}

.my-overlay {
  background: rgba(0, 0, 0, 0.11);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 55555;
  opacity: 0;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
  }
}

.top-btns {
  overflow: hidden;
}

.clearboth {
  clear: both;
  width: 100%;
}

.list-group-item {
  display: table;
  width: 100%;

  &:hover {
    background: #f7f7f7;
    cursor: pointer;
  }

  &.selected {
    background: #eaeaea;
  }

  .user-info {
    display: table-cell;
    width: 100%;
  }

  .btn-wrapper {
    display: table-cell;
    vertical-align: bottom;

    .btn {
      width: 100%;
    }
  }
}