<p class="top-btns">
  <a class="edit-btn btn btn-default pull-left" data-ng-click="togglePagination()">{{paginatorEnabled ? 'Enabled infinite scroll' : 'Enabled paginator'}}</a>
  <a class="edit-btn btn btn-default btn-danger pull-right" data-ng-click="!selectedCustomers.length || deleteConfirmation()" data-ng-disabled="!selectedCustomers.length">Delete selected</a>
</p>
<div class="clearboth"></div>
<p data-ng-show="paginatorEnabled">
  <pagination data-items-per-page="itemsPerPage" data-total-items="totalItems" data-ng-model="currentPage" data-ng-change="pageChanged()"></pagination>
</p>
<div class="filter form-inline">
  <div class="form-group pull-left">
    <input class="form-control" data-ng-model="searchText" data-ng-change="fiterSearch()" placeholder="Search" id="search" type="text"/>
  </div>
  <div class="text-right">
    <div class="form-group">
      <input class="form-control" placeholder="Age from" id="age-from" type="text"/>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Age to" id="age-to" type="text"/>
    </div>
  </div>
  <p></p>
</div>
<ul class="list-group" data-infinite-scroll="infScrollCtrl" data-inf-disabled="paginatorEnabled">
  <li data-ng-repeat="(key, customer) in customers" data-customer-location="edit-customer/{{customer.id}}" class="list-group-item {{selectedCustomers.indexOf(customer) != -1 ? 'selected' : ''}}">
    <div class="user-info">
      <p>
        <strong>First name: </strong>
        {{customer.firstName}}
      </p>
      <p>
        <strong>Last name: </strong>
        {{customer.lastName}}
      </p>
      <p>
        <strong>Email: </strong>
        {{customer.email}}
      </p>
      <p>
        <strong>Age: </strong>
        {{customer.age}}
      </p>
    </div>
    <div class="btn-wrapper">
      <p>
        <a class="edit-btn btn btn-default" data-ng-click="toggleSelectCustomer(customer)">{{selectedCustomers.indexOf(customer) != -1 ? 'Unselected' : 'Selected'}}</a>
      </p>
      <p>
        <a class="edit-btn btn btn-default btn-primary" data-ng-click="editCustomer(customer)">Edit customer</a>
      </p>
      <p>
        <a class="btn btn-default btn-danger" data-ng-click="deleteConfirmation(customer)">Delete customer</a>
      </p>
    </div>
  </li>
</ul>